In [29]:
import pandas as pd

def parse_dataset_string(s):
    parts = s.split('/')
    if len(parts) == 2:
        dataset = parts[0]
        freq = None
        term = parts[1]
    elif len(parts) == 3:
        dataset, freq, term = parts
    else:
        raise ValueError(f"Unexpected dataset format: {s}")
    return pd.Series([dataset, freq, term])

In [30]:
def get_df(result_path):
    df = pd.read_csv(result_path)
    df = df[["dataset", "domain", "num_variates", "model", "train_step",
        "eval_metrics/MASE[0.5]", "eval_metrics/mean_weighted_sum_quantile_loss"]]
    df = df.rename(columns={"eval_metrics/MASE[0.5]": "MASE"})
    df = df.rename(columns={"eval_metrics/mean_weighted_sum_quantile_loss": "Qloss"})
    df = df.rename(columns={"train_step": "train step"})

    # Apply the parsing
    df[['dataset_name', 'freq', 'term']] = df['dataset'].apply(parse_dataset_string)

    # Manually fill missing frequencies
    freq_map = {
        'exchange_rate': 'D',
        'ercot': 'H',
        'dominick': 'W'
    }

    df['freq'] = df.apply(lambda row: freq_map.get(row['dataset_name'], row['freq']), axis=1)
    df['freq'] = df['freq'].map({
        "10S": "10 seconds",
        "5T": "5 minutes",
        "10T": "10 minute",
        "H": "1 hour",
        "D": "1 day",
        "W": "1 week",
    })

    df["size"] = df.apply(lambda row: row['model'].split("-")[-1], axis=1)

    df.drop(columns='dataset', inplace=True)

    df = df.rename(columns={"dataset_name": "dataset"})
    df = df[["dataset", "freq", "term", "domain", "num_variates", "model", "size", "train step",
        "MASE", "Qloss"]]
    
    return df

In [31]:
base_df = get_df(result_path = "results/test/chronos_bolt_base_test_results.csv")
small_df = get_df(result_path = "results/test/chronos_bolt_small_test_results.csv")
mini_df = get_df(result_path = "results/test/chronos_bolt_mini_test_results.csv")
tiny_df = get_df(result_path = "results/test/chronos_bolt_tiny_test_results.csv")

In [32]:
df = pd.concat([base_df, small_df, mini_df, tiny_df])

In [33]:
df

,dataset,freq,term,domain,num_variates,model,size,train step,MASE,Qloss
0,exchange_rate,1 day,short,Econ/Fin,1,chronos-bolt-base,base,500,24.251517,0.063937
1,exchange_rate,1 day,medium,Econ/Fin,1,chronos-bolt-base,base,500,20.395774,0.061711
2,exchange_rate,1 day,long,Econ/Fin,1,chronos-bolt-base,base,500,19.877615,0.059450
3,ercot,1 hour,short,Energy,1,chronos-bolt-base,base,500,2.493600,0.161155
4,ercot,1 hour,medium,Energy,1,chronos-bolt-base,base,500,2.703264,0.169326
...,...,...,...,...,...,...,...,...,...,...
900,solar,10 minute,medium,Energy,1,chronos-bolt-tiny,tiny,200000,2.830568,1.418010
901,solar,10 minute,long,Energy,1,chronos-bolt-tiny,tiny,200000,2.772037,1.369096
902,solar,1 hour,short,Energy,1,chronos-bolt-tiny,tiny,200000,3.004985,1.411132
903,solar,1 hour,medium,Energy,1,chronos-bolt-tiny,tiny,200000,3.053877,1.419348
904,solar,1 hour,long,Energy,1,chronos-bolt-tiny,tiny,200000,3.064847,1.376015

In [46]:
df_long = pd.melt(
    df,
    id_vars=["dataset", "freq", "term", "domain", "num_variates", "model", "size", "train step"],
    value_vars=["MASE", "Qloss"],
    var_name="metric",
    value_name="value"
)


df_pivot = df_long.pivot_table(
    index=["dataset", "freq", "term", "domain", "num_variates", "size", "metric"],
    columns="train step",
    values="value"
).reset_index()

In [37]:
df_pivot.head()

train step,dataset,freq,term,domain,num_variates,size,metric,500,10000,20000,...,110000,120000,130000,140000,150000,160000,170000,180000,190000,200000
0,bitbrains_fast_storage,1 hour,short,Web/CloudOps,2,base,MASE,2.025949,2.197866,2.057820,...,2.074659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bitbrains_fast_storage,1 hour,short,Web/CloudOps,2,base,Qloss,1.554958,1.537555,1.550422,...,1.499420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bitbrains_fast_storage,1 hour,short,Web/CloudOps,2,mini,MASE,1.901500,2.051663,1.982010,...,1.928380,2.148383,2.316839,2.121807,2.119477,1.985224,1.943896,2.025754,1.974481,2.047939
3,bitbrains_fast_storage,1 hour,short,Web/CloudOps,2,mini,Qloss,1.489185,1.539738,1.462624,...,1.492582,1.564842,1.517571,1.529321,1.517911,1.519590,1.492736,1.471911,1.496896,1.493888
4,bitbrains_fast_storage,1 hour,short,Web/CloudOps,2,small,MASE,1.980415,1.952074,1.958588,...,2.009047,2.256154,2.145661,2.019833,1.998030,2.045786,2.004791,1.985440,2.264403,2.134664

In [51]:
train_step_list = [500] + [i*10_000 for i in range(1, 20+1)]

In [54]:
df_grouped_term = df_pivot.groupby(["term", "size", "metric"])[train_step_list].mean().reset_index()
#df_grouped_term

In [55]:
df_grouped_domain = df_pivot.groupby(["domain", "size", "metric"])[train_step_list].mean().reset_index()
#df_grouped_domain

In [56]:
df_grouped_freq = df_pivot.groupby(["freq", "size", "metric"])[train_step_list].mean().reset_index()
#df_grouped_freq

In [58]:
print(df_grouped_term.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{lllrrrrrrrrrrrrrrrrrrrrr}
\toprule
term & size & metric & 500 & 10000 & 20000 & 30000 & 40000 & 50000 & 60000 & 70000 & 80000 & 90000 & 100000 & 110000 & 120000 & 130000 & 140000 & 150000 & 160000 & 170000 & 180000 & 190000 & 200000 \\
\midrule
long & base & MASE & 4.455 & 4.430 & 4.413 & 4.409 & 4.371 & 4.459 & 4.432 & 4.381 & 4.429 & 4.421 & 4.401 & 4.333 & 6.797 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
long & base & Qloss & 0.632 & 0.625 & 0.633 & 0.619 & 0.622 & 0.622 & 0.631 & 0.623 & 0.629 & 0.625 & 0.626 & 0.621 & 0.560 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
long & mini & MASE & 4.405 & 4.368 & 4.428 & 4.410 & 4.387 & 4.441 & 4.418 & 4.405 & 4.400 & 4.420 & 4.383 & 4.403 & 4.430 & 4.442 & 4.360 & 4.440 & 4.383 & 4.474 & 4.406 & 4.445 & 4.400 \\
long & mini & Qloss & 0.628 & 0.618 & 0.626 & 0.619 & 0.623 & 0.623 & 0.631 & 0.615 & 0.625 & 0.619 & 0.621 & 0.624 & 0.618 & 0.625 & 0.621 & 0.622 & 0.621 & 0.627 & 0.622 & 0.630 & 0.625 \\
long & small & MASE & 4.437 & 4.417 & 4.375 & 4.381 & 4.397 & 4.407 & 4.419 & 4.444 & 4.401 & 4.468 & 4.447 & 4.425 & 4.430 & 4.477 & 4.423 & 4.468 & 4.521 & 4.422 & 4.513 & 4.434 & 4.426 \\
long & small & Qloss & 0.628 & 0.625 & 0.622 & 0.619 & 0.622 & 0.618 & 0.626 & 0.625 & 0.627 & 0.630 & 0.625 & 0.622 & 0.637 & 0.629 & 0.624 & 0.625 & 0.621 & 0.627 & 0.637 & 0.622 & 0.630 \\
long & tiny & MASE & 4.370 & 4.366 & 4.369 & 4.423 & 4.373 & 4.426 & 4.393 & 5.191 & 4.390 & 3.150 & 4.397 & 4.403 & 4.405 & 4.402 & 4.420 & 4.411 & 4.403 & 4.425 & 4.420 & 4.366 & 4.421 \\
long & tiny & Qloss & 0.617 & 0.620 & 0.623 & 0.628 & 0.625 & 0.627 & 0.622 & 0.480 & 0.619 & 0.717 & 0.627 & 0.630 & 0.622 & 0.621 & 0.617 & 0.622 & 0.626 & 0.623 & 0.629 & 0.617 & 0.621 \\
medium & base & MASE & 4.525 & 4.518 & 4.506 & 4.507 & 4.483 & 4.492 & 4.477 & 4.569 & 4.492 & 4.528 & 4.528 & 4.489 & 5.648 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
medium & base & Qloss & 0.614 & 0.621 & 0.616 & 0.616 & 0.608 & 0.622 & 0.612 & 0.617 & 0.615 & 0.613 & 0.621 & 0.618 & 0.602 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
medium & mini & MASE & 4.465 & 4.488 & 4.510 & 4.508 & 4.477 & 4.564 & 4.529 & 4.548 & 4.532 & 4.542 & 4.563 & 4.571 & 4.523 & 4.525 & 4.609 & 4.556 & 4.563 & 4.505 & 4.455 & 4.518 & 4.523 \\
medium & mini & Qloss & 0.614 & 0.614 & 0.618 & 0.618 & 0.617 & 0.614 & 0.622 & 0.627 & 0.611 & 0.619 & 0.623 & 0.623 & 0.616 & 0.617 & 0.631 & 0.621 & 0.626 & 0.615 & 0.614 & 0.613 & 0.627 \\
medium & small & MASE & 4.529 & 4.504 & 4.553 & 4.470 & 4.480 & 4.513 & 4.496 & 4.581 & 4.556 & 4.518 & 4.544 & 4.525 & 4.577 & 4.553 & 4.579 & 4.562 & 4.546 & 4.521 & 4.605 & 4.569 & 4.544 \\
medium & small & Qloss & 0.616 & 0.612 & 0.619 & 0.612 & 0.617 & 0.615 & 0.614 & 0.618 & 0.616 & 0.611 & 0.629 & 0.622 & 0.623 & 0.610 & 0.621 & 0.623 & 0.615 & 0.619 & 0.617 & 0.613 & 0.621 \\
medium & tiny & MASE & 4.474 & 4.482 & 4.483 & 4.498 & 4.493 & 4.497 & 4.487 & 4.760 & 4.489 & 3.277 & 4.483 & 4.499 & 4.468 & 4.499 & 4.490 & 4.507 & 4.485 & 4.496 & 4.470 & 4.494 & 4.485 \\
medium & tiny & Qloss & 0.614 & 0.611 & 0.611 & 0.614 & 0.613 & 0.615 & 0.612 & 0.419 & 0.612 & 0.710 & 0.616 & 0.619 & 0.617 & 0.615 & 0.616 & 0.609 & 0.613 & 0.621 & 0.611 & 0.615 & 0.614 \\
short & base & MASE & 4.008 & 3.898 & 3.912 & 3.762 & 3.892 & 3.828 & 3.768 & 3.757 & 3.742 & 3.841 & 3.897 & 3.800 & 5.627 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
short & base & Qloss & 0.624 & 0.624 & 0.635 & 0.634 & 0.634 & 0.637 & 0.628 & 0.629 & 0.631 & 0.626 & 0.627 & 0.631 & 0.522 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
short & mini & MASE & 3.780 & 3.832 & 3.752 & 3.809 & 3.890 & 3.817 & 3.985 & 3.834 & 3.894 & 3.786 & 3.903 & 3.877 & 3.966 & 3.870 & 3.755 & 3.954 & 3.721 & 3.828 & 3.831 & 3.848 & 3.848 \\
short & mini & Qloss & 0.632 & 0.624 & 0.626 & 0.630 & 0.629 & 0.637 & 0.638 & 0.630 & 0.642 & 0.627 & 0.638 & 0.637 & 0.644 & 0.642 & 0.628 & 0.638 & 0.627 & 0.632 & 0.627 & 0.637 & 0.639 \\
short & small & MASE & 3.826 & 3.844 & 3.805 & 3.883 & 3.699 & 3.705 & 3.840 & 3.797 & 3.808 & 3.698 & 3.913 & 3.827 & 3.881 & 4.083 & 3.853 & 3.887 & 3.738 & 3.785 & 3.772 & 3.796 & 3.840 \\
short & small & Qloss & 0.624 & 0.627 & 0.634 & 0.627 & 0.622 & 0.632 & 0.623 & 0.626 & 0.640 & 0.632 & 0.637 & 0.625 & 0.640 & 0.637 & 0.624 & 0.645 & 0.634 & 0.634 & 0.629 & 0.653 & 0.643 \\
short & tiny & MASE & 3.750 & 3.725 & 3.834 & 3.841 & 3.775 & 3.804 & 3.727 & 4.269 & 3.857 & 2.858 & 3.758 & 3.744 & 3.778 & 3.753 & 3.813 & 3.830 & 3.691 & 3.725 & 3.840 & 3.841 & 3.904 \\
short & tiny & Qloss & 0.626 & 0.628 & 0.625 & 0.625 & 0.623 & 0.633 & 0.623 & 0.525 & 0.630 & 0.664 & 0.623 & 0.636 & 0.633 & 0.628 & 0.632 & 0.629 & 0.640 & 0.630 & 0.633 & 0.632 & 0.639 \\
\bottomrule
\end{tabular}

In [59]:
print(df_grouped_domain.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{lllrrrrrrrrrrrrrrrrrrrrr}
\toprule
domain & size & metric & 500 & 10000 & 20000 & 30000 & 40000 & 50000 & 60000 & 70000 & 80000 & 90000 & 100000 & 110000 & 120000 & 130000 & 140000 & 150000 & 160000 & 170000 & 180000 & 190000 & 200000 \\
\midrule
Econ/Fin & base & MASE & 21.508 & 20.214 & 20.105 & 19.450 & 20.153 & 19.658 & 19.391 & 19.646 & 19.392 & 19.964 & 20.284 & 19.338 & 19.866 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Econ/Fin & base & Qloss & 0.062 & 0.060 & 0.061 & 0.059 & 0.059 & 0.059 & 0.059 & 0.059 & 0.059 & 0.060 & 0.060 & 0.059 & 0.060 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Econ/Fin & mini & MASE & 19.571 & 19.903 & 19.542 & 19.732 & 20.234 & 20.178 & 20.081 & 19.871 & 19.775 & 19.749 & 20.153 & 20.061 & 19.976 & 19.810 & 19.254 & 20.516 & 19.200 & 19.519 & 19.284 & 19.572 & 20.010 \\
Econ/Fin & mini & Qloss & 0.058 & 0.059 & 0.058 & 0.059 & 0.060 & 0.061 & 0.060 & 0.059 & 0.059 & 0.060 & 0.060 & 0.060 & 0.059 & 0.059 & 0.059 & 0.061 & 0.060 & 0.060 & 0.059 & 0.061 & 0.060 \\
Econ/Fin & small & MASE & 20.036 & 20.143 & 19.732 & 20.222 & 19.182 & 18.923 & 19.788 & 19.875 & 19.801 & 19.115 & 20.213 & 19.839 & 19.795 & 21.488 & 19.718 & 19.982 & 19.398 & 19.198 & 19.890 & 18.913 & 19.290 \\
Econ/Fin & small & Qloss & 0.060 & 0.061 & 0.059 & 0.059 & 0.058 & 0.057 & 0.059 & 0.059 & 0.060 & 0.059 & 0.059 & 0.059 & 0.060 & 0.062 & 0.060 & 0.060 & 0.059 & 0.058 & 0.059 & 0.058 & 0.059 \\
Econ/Fin & tiny & MASE & 19.694 & 19.563 & 19.891 & 20.002 & 19.772 & 19.798 & 19.501 & 19.666 & 20.003 & NaN & 19.608 & 19.491 & 19.569 & 19.597 & 19.687 & 20.011 & 18.991 & 19.468 & 20.017 & 19.908 & 20.001 \\
Econ/Fin & tiny & Qloss & 0.059 & 0.059 & 0.060 & 0.059 & 0.060 & 0.059 & 0.060 & 0.059 & 0.060 & NaN & 0.059 & 0.059 & 0.059 & 0.059 & 0.059 & 0.060 & 0.058 & 0.059 & 0.059 & 0.059 & 0.059 \\
Energy & base & MASE & 2.560 & 2.574 & 2.634 & 2.534 & 2.539 & 2.577 & 2.594 & 2.561 & 2.625 & 2.589 & 2.568 & 2.572 & 2.643 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Energy & base & Qloss & 0.892 & 0.899 & 0.911 & 0.882 & 0.891 & 0.892 & 0.892 & 0.886 & 0.902 & 0.888 & 0.892 & 0.892 & 0.169 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Energy & mini & MASE & 2.565 & 2.551 & 2.582 & 2.593 & 2.568 & 2.569 & 2.600 & 2.569 & 2.623 & 2.557 & 2.586 & 2.585 & 2.572 & 2.607 & 2.585 & 2.558 & 2.548 & 2.604 & 2.547 & 2.682 & 2.545 \\
Energy & mini & Qloss & 0.894 & 0.888 & 0.892 & 0.891 & 0.902 & 0.885 & 0.904 & 0.891 & 0.905 & 0.883 & 0.902 & 0.900 & 0.896 & 0.905 & 0.901 & 0.894 & 0.887 & 0.903 & 0.886 & 0.907 & 0.888 \\
Energy & small & MASE & 2.568 & 2.555 & 2.592 & 2.556 & 2.537 & 2.563 & 2.597 & 2.589 & 2.604 & 2.594 & 2.655 & 2.592 & 2.615 & 2.566 & 2.576 & 2.603 & 2.596 & 2.585 & 2.604 & 2.645 & 2.567 \\
Energy & small & Qloss & 0.889 & 0.881 & 0.900 & 0.898 & 0.889 & 0.875 & 0.898 & 0.902 & 0.907 & 0.895 & 0.919 & 0.884 & 0.907 & 0.891 & 0.894 & 0.903 & 0.892 & 0.906 & 0.906 & 0.905 & 0.900 \\
Energy & tiny & MASE & 2.530 & 2.538 & 2.537 & 2.577 & 2.549 & 2.591 & 2.530 & 2.304 & 2.550 & 2.519 & 2.533 & 2.566 & 2.543 & 2.524 & 2.568 & 2.548 & 2.553 & 2.574 & 2.552 & 2.521 & 2.574 \\
Energy & tiny & Qloss & 0.884 & 0.887 & 0.885 & 0.890 & 0.884 & 0.898 & 0.887 & 0.234 & 0.886 & 1.163 & 0.894 & 0.899 & 0.884 & 0.881 & 0.884 & 0.893 & 0.898 & 0.901 & 0.900 & 0.882 & 0.899 \\
Nature & base & MASE & 1.110 & 1.128 & 1.127 & 1.124 & 1.124 & 1.115 & 1.116 & 1.118 & 1.114 & 1.126 & 1.129 & 1.114 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Nature & base & Qloss & 0.129 & 0.130 & 0.128 & 0.128 & 0.130 & 0.127 & 0.128 & 0.129 & 0.127 & 0.129 & 0.128 & 0.128 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Nature & mini & MASE & 1.112 & 1.113 & 1.117 & 1.145 & 1.111 & 1.124 & 1.155 & 1.144 & 1.139 & 1.152 & 1.137 & 1.122 & 1.125 & 1.126 & 1.143 & 1.156 & 1.136 & 1.149 & 1.133 & 1.169 & 1.135 \\
Nature & mini & Qloss & 0.128 & 0.127 & 0.129 & 0.130 & 0.126 & 0.128 & 0.130 & 0.130 & 0.129 & 0.131 & 0.128 & 0.130 & 0.130 & 0.130 & 0.128 & 0.130 & 0.128 & 0.128 & 0.129 & 0.132 & 0.128 \\
Nature & small & MASE & 1.123 & 1.119 & 1.116 & 1.121 & 1.118 & 1.115 & 1.105 & 1.124 & 1.126 & 1.117 & 1.140 & 1.120 & 1.162 & 1.136 & 1.111 & 1.127 & 1.136 & 1.118 & 1.137 & 1.204 & 1.150 \\
Nature & small & Qloss & 0.128 & 0.127 & 0.128 & 0.128 & 0.128 & 0.127 & 0.128 & 0.128 & 0.127 & 0.127 & 0.129 & 0.127 & 0.132 & 0.131 & 0.127 & 0.128 & 0.127 & 0.127 & 0.130 & 0.133 & 0.130 \\
Nature & tiny & MASE & 1.105 & 1.106 & 1.092 & 1.117 & 1.122 & 1.114 & 1.113 & 0.964 & 1.106 & 1.129 & 1.121 & 1.109 & 1.105 & 1.104 & 1.107 & 1.117 & 1.116 & 1.111 & 1.108 & 1.116 & 1.130 \\
Nature & tiny & Qloss & 0.126 & 0.127 & 0.126 & 0.127 & 0.127 & 0.127 & 0.127 & 0.112 & 0.126 & 0.127 & 0.127 & 0.128 & 0.128 & 0.127 & 0.127 & 0.128 & 0.127 & 0.128 & 0.126 & 0.127 & 0.127 \\
Sales & base & MASE & 2.942 & 3.132 & 2.919 & 3.124 & 3.140 & 3.202 & 3.251 & 3.032 & 3.017 & 3.031 & 3.103 & 3.179 & 3.233 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Sales & base & Qloss & 1.114 & 1.079 & 1.107 & 1.154 & 1.104 & 1.150 & 1.142 & 1.126 & 1.115 & 1.115 & 1.132 & 1.132 & 1.128 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Sales & mini & MASE & 3.136 & 3.076 & 3.050 & 3.028 & 3.088 & 3.025 & 3.371 & 3.002 & 3.479 & 3.174 & 3.134 & 3.276 & 3.085 & 3.127 & 3.084 & 3.175 & 2.938 & 3.121 & 3.075 & 3.117 & 3.005 \\
Sales & mini & Qloss & 1.146 & 1.105 & 1.134 & 1.109 & 1.106 & 1.155 & 1.153 & 1.136 & 1.150 & 1.129 & 1.107 & 1.163 & 1.129 & 1.128 & 1.103 & 1.140 & 1.083 & 1.121 & 1.118 & 1.147 & 1.201 \\
Sales & small & MASE & 3.114 & 3.070 & 3.119 & 3.068 & 3.068 & 2.994 & 2.966 & 3.088 & 3.119 & 3.038 & 3.065 & 3.022 & 3.043 & 3.151 & 3.208 & 3.329 & 3.288 & 3.051 & 3.111 & 3.187 & 3.326 \\
Sales & small & Qloss & 1.115 & 1.138 & 1.147 & 1.091 & 1.105 & 1.156 & 1.066 & 1.091 & 1.162 & 1.107 & 1.101 & 1.109 & 1.091 & 1.106 & 1.077 & 1.156 & 1.130 & 1.129 & 1.094 & 1.126 & 1.158 \\
Sales & tiny & MASE & 3.086 & 3.033 & 3.177 & 3.160 & 2.984 & 3.079 & 3.036 & 3.106 & 3.167 & 3.100 & 3.029 & 3.110 & 3.170 & 3.114 & 3.241 & 3.000 & 3.148 & 3.121 & 3.140 & 3.024 & 3.296 \\
Sales & tiny & Qloss & 1.133 & 1.117 & 1.125 & 1.113 & 1.111 & 1.132 & 1.114 & 1.114 & 1.139 & 1.140 & 1.083 & 1.141 & 1.159 & 1.132 & 1.152 & 1.101 & 1.153 & 1.119 & 1.149 & 1.131 & 1.156 \\
Web/CloudOps & base & MASE & 3.980 & 4.011 & 4.022 & 4.007 & 3.975 & 4.027 & 3.968 & 3.997 & 3.972 & 4.007 & 3.996 & 3.973 & 1.268 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Web/CloudOps & base & Qloss & 0.659 & 0.661 & 0.663 & 0.661 & 0.661 & 0.665 & 0.657 & 0.662 & 0.660 & 0.659 & 0.661 & 0.659 & 0.759 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
Web/CloudOps & mini & MASE & 3.961 & 3.966 & 3.987 & 3.983 & 3.963 & 4.001 & 4.050 & 4.025 & 3.980 & 3.985 & 4.014 & 4.007 & 4.121 & 4.043 & 4.036 & 4.041 & 4.044 & 4.051 & 4.056 & 4.001 & 4.014 \\
Web/CloudOps & mini & Qloss & 0.660 & 0.655 & 0.657 & 0.660 & 0.656 & 0.664 & 0.663 & 0.660 & 0.657 & 0.659 & 0.667 & 0.660 & 0.665 & 0.664 & 0.665 & 0.665 & 0.671 & 0.657 & 0.658 & 0.655 & 0.667 \\
Web/CloudOps & small & MASE & 3.993 & 3.979 & 3.983 & 3.956 & 3.975 & 4.045 & 4.022 & 4.023 & 3.985 & 4.028 & 4.015 & 4.015 & 4.077 & 4.039 & 4.074 & 4.045 & 4.029 & 4.069 & 4.041 & 4.077 & 4.080 \\
Web/CloudOps & small & Qloss & 0.661 & 0.660 & 0.656 & 0.653 & 0.657 & 0.663 & 0.660 & 0.657 & 0.658 & 0.664 & 0.663 & 0.666 & 0.677 & 0.668 & 0.664 & 0.668 & 0.661 & 0.660 & 0.664 & 0.668 & 0.668 \\
Web/CloudOps & tiny & MASE & 3.929 & 3.930 & 3.967 & 3.973 & 3.953 & 3.977 & 3.964 & 3.968 & 3.977 & 3.966 & 3.973 & 3.967 & 3.971 & 3.982 & 3.984 & 4.000 & 3.984 & 3.958 & 3.970 & 3.998 & 3.997 \\
Web/CloudOps & tiny & Qloss & 0.654 & 0.657 & 0.656 & 0.660 & 0.659 & 0.660 & 0.654 & 0.606 & 0.657 & 0.659 & 0.661 & 0.664 & 0.661 & 0.661 & 0.657 & 0.657 & 0.662 & 0.658 & 0.655 & 0.660 & 0.657 \\
\bottomrule
\end{tabular}

In [60]:
print(df_grouped_freq.to_latex(index=False, float_format="%.3f"))

\begin{tabular}{lllrrrrrrrrrrrrrrrrrrrrr}
\toprule
freq & size & metric & 500 & 10000 & 20000 & 30000 & 40000 & 50000 & 60000 & 70000 & 80000 & 90000 & 100000 & 110000 & 120000 & 130000 & 140000 & 150000 & 160000 & 170000 & 180000 & 190000 & 200000 \\
\midrule
1 day & base & MASE & 13.563 & 12.813 & 12.761 & 12.326 & 12.772 & 12.462 & 12.313 & 12.457 & 12.317 & 12.662 & 12.862 & 12.271 & 19.866 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 day & base & Qloss & 0.167 & 0.168 & 0.170 & 0.163 & 0.167 & 0.165 & 0.166 & 0.167 & 0.167 & 0.167 & 0.167 & 0.165 & 0.060 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 day & mini & MASE & 12.411 & 12.617 & 12.400 & 12.553 & 12.829 & 12.805 & 12.755 & 12.622 & 12.550 & 12.558 & 12.824 & 12.708 & 12.671 & 12.564 & 12.261 & 12.989 & 12.237 & 12.417 & 12.262 & 12.453 & 12.699 \\
1 day & mini & Qloss & 0.164 & 0.169 & 0.165 & 0.167 & 0.168 & 0.169 & 0.165 & 0.169 & 0.168 & 0.167 & 0.176 & 0.171 & 0.171 & 0.168 & 0.170 & 0.166 & 0.171 & 0.167 & 0.172 & 0.167 & 0.165 \\
1 day & small & MASE & 12.696 & 12.772 & 12.504 & 12.802 & 12.200 & 12.035 & 12.533 & 12.604 & 12.585 & 12.132 & 12.822 & 12.578 & 12.600 & 13.572 & 12.508 & 12.648 & 12.318 & 12.210 & 12.634 & 12.128 & 12.259 \\
1 day & small & Qloss & 0.166 & 0.168 & 0.165 & 0.165 & 0.166 & 0.164 & 0.166 & 0.165 & 0.170 & 0.163 & 0.176 & 0.163 & 0.170 & 0.170 & 0.168 & 0.163 & 0.162 & 0.169 & 0.170 & 0.169 & 0.166 \\
1 day & tiny & MASE & 12.484 & 12.402 & 12.595 & 12.683 & 12.553 & 12.562 & 12.369 & 15.036 & 12.658 & 1.720 & 12.456 & 12.350 & 12.392 & 12.422 & 12.495 & 12.679 & 12.060 & 12.342 & 12.680 & 12.615 & 12.714 \\
1 day & tiny & Qloss & 0.164 & 0.165 & 0.167 & 0.167 & 0.166 & 0.166 & 0.165 & 0.151 & 0.164 & 0.323 & 0.164 & 0.166 & 0.163 & 0.165 & 0.169 & 0.169 & 0.165 & 0.166 & 0.162 & 0.164 & 0.170 \\
1 hour & base & MASE & 2.350 & 2.381 & 2.391 & 2.344 & 2.335 & 2.380 & 2.365 & 2.365 & 2.388 & 2.378 & 2.347 & 2.354 & 2.643 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 hour & base & Qloss & 0.705 & 0.718 & 0.709 & 0.705 & 0.705 & 0.708 & 0.705 & 0.706 & 0.716 & 0.708 & 0.702 & 0.705 & 0.169 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 hour & mini & MASE & 2.339 & 2.336 & 2.364 & 2.361 & 2.329 & 2.382 & 2.360 & 2.345 & 2.396 & 2.364 & 2.371 & 2.369 & 2.342 & 2.393 & 2.392 & 2.368 & 2.364 & 2.378 & 2.327 & 2.393 & 2.378 \\
1 hour & mini & Qloss & 0.704 & 0.700 & 0.703 & 0.706 & 0.707 & 0.708 & 0.705 & 0.699 & 0.719 & 0.703 & 0.714 & 0.713 & 0.704 & 0.709 & 0.719 & 0.712 & 0.707 & 0.710 & 0.697 & 0.713 & 0.708 \\
1 hour & small & MASE & 2.362 & 2.327 & 2.339 & 2.341 & 2.322 & 2.342 & 2.375 & 2.376 & 2.406 & 2.376 & 2.431 & 2.382 & 2.376 & 2.368 & 2.353 & 2.368 & 2.419 & 2.348 & 2.385 & 2.456 & 2.419 \\
1 hour & small & Qloss & 0.703 & 0.698 & 0.703 & 0.702 & 0.701 & 0.698 & 0.713 & 0.702 & 0.712 & 0.711 & 0.717 & 0.705 & 0.712 & 0.711 & 0.704 & 0.709 & 0.711 & 0.705 & 0.719 & 0.724 & 0.725 \\
1 hour & tiny & MASE & 2.323 & 2.331 & 2.328 & 2.355 & 2.337 & 2.356 & 2.330 & 2.168 & 2.347 & 2.256 & 2.318 & 2.339 & 2.347 & 2.328 & 2.355 & 2.350 & 2.346 & 2.369 & 2.337 & 2.347 & 2.356 \\
1 hour & tiny & Qloss & 0.701 & 0.706 & 0.698 & 0.707 & 0.702 & 0.707 & 0.703 & 0.517 & 0.703 & 0.853 & 0.702 & 0.710 & 0.708 & 0.700 & 0.707 & 0.709 & 0.710 & 0.711 & 0.703 & 0.710 & 0.711 \\
1 week & base & MASE & 2.712 & 2.913 & 2.711 & 2.836 & 2.902 & 2.926 & 2.996 & 2.794 & 2.790 & 2.796 & 2.843 & 2.960 & 3.233 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 week & base & Qloss & 0.931 & 0.905 & 0.926 & 0.957 & 0.926 & 0.954 & 0.956 & 0.940 & 0.930 & 0.927 & 0.944 & 0.945 & 1.128 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
1 week & mini & MASE & 2.888 & 2.836 & 2.810 & 2.789 & 2.838 & 2.780 & 3.074 & 2.810 & 3.188 & 2.871 & 2.851 & 2.976 & 2.861 & 2.841 & 2.789 & 2.924 & 2.643 & 2.845 & 2.814 & 3.038 & 2.734 \\
1 week & mini & Qloss & 0.955 & 0.927 & 0.940 & 0.923 & 0.921 & 0.960 & 0.960 & 0.948 & 0.959 & 0.937 & 0.924 & 0.968 & 0.944 & 0.943 & 0.917 & 0.952 & 0.905 & 0.935 & 0.931 & 0.966 & 0.991 \\
1 week & small & MASE & 2.834 & 2.869 & 2.923 & 2.805 & 2.792 & 2.816 & 2.727 & 2.764 & 2.819 & 2.826 & 2.743 & 2.766 & 2.849 & 2.839 & 2.856 & 3.021 & 2.954 & 2.792 & 2.876 & 2.854 & 3.008 \\
1 week & small & Qloss & 0.927 & 0.947 & 0.960 & 0.915 & 0.922 & 0.964 & 0.893 & 0.900 & 0.965 & 0.928 & 0.917 & 0.925 & 0.916 & 0.921 & 0.890 & 0.963 & 0.940 & 0.939 & 0.915 & 0.944 & 0.968 \\
1 week & tiny & MASE & 2.791 & 2.759 & 2.873 & 2.890 & 2.728 & 2.847 & 2.772 & 3.106 & 2.913 & 2.738 & 2.774 & 2.856 & 2.894 & 2.806 & 2.963 & 2.765 & 2.841 & 2.834 & 2.825 & 2.759 & 2.979 \\
1 week & tiny & Qloss & 0.939 & 0.929 & 0.935 & 0.930 & 0.924 & 0.945 & 0.927 & 1.114 & 0.949 & 0.886 & 0.904 & 0.951 & 0.962 & 0.940 & 0.958 & 0.920 & 0.955 & 0.929 & 0.952 & 0.937 & 0.960 \\
10 minute & base & MASE & 1.761 & 1.760 & 1.801 & 1.766 & 1.740 & 1.751 & 1.732 & 1.733 & 1.748 & 1.741 & 1.751 & 1.754 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
10 minute & base & Qloss & 0.783 & 0.776 & 0.809 & 0.777 & 0.784 & 0.785 & 0.772 & 0.773 & 0.775 & 0.769 & 0.781 & 0.780 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
10 minute & mini & MASE & 1.751 & 1.743 & 1.757 & 1.777 & 1.770 & 1.743 & 1.824 & 1.752 & 1.716 & 1.767 & 1.800 & 1.757 & 1.789 & 1.786 & 1.778 & 1.762 & 1.759 & 1.782 & 1.783 & 1.767 & 1.738 \\
10 minute & mini & Qloss & 0.786 & 0.777 & 0.779 & 0.787 & 0.792 & 0.774 & 0.809 & 0.783 & 0.763 & 0.781 & 0.796 & 0.779 & 0.794 & 0.789 & 0.778 & 0.780 & 0.773 & 0.784 & 0.782 & 0.785 & 0.783 \\
10 minute & small & MASE & 1.762 & 1.748 & 1.785 & 1.757 & 1.752 & 1.735 & 1.754 & 1.837 & 1.772 & 1.751 & 1.797 & 1.764 & 1.824 & 1.800 & 1.817 & 1.828 & 1.741 & 1.813 & 1.769 & 1.820 & 1.757 \\
10 minute & small & Qloss & 0.782 & 0.773 & 0.790 & 0.788 & 0.782 & 0.772 & 0.775 & 0.806 & 0.790 & 0.774 & 0.802 & 0.776 & 0.804 & 0.788 & 0.793 & 0.806 & 0.775 & 0.804 & 0.783 & 0.802 & 0.777 \\
10 minute & tiny & MASE & 1.742 & 1.740 & 1.746 & 1.753 & 1.743 & 1.761 & 1.725 & 0.878 & 1.744 & 1.756 & 1.773 & 1.772 & 1.735 & 1.748 & 1.729 & 1.732 & 1.773 & 1.757 & 1.769 & 1.728 & 1.745 \\
10 minute & tiny & Qloss & 0.776 & 0.770 & 0.780 & 0.774 & 0.771 & 0.785 & 0.770 & 0.104 & 0.777 & 0.780 & 0.795 & 0.789 & 0.770 & 0.775 & 0.764 & 0.772 & 0.791 & 0.787 & 0.793 & 0.768 & 0.778 \\
10 seconds & base & MASE & 7.889 & 7.842 & 8.009 & 7.982 & 7.829 & 7.988 & 7.879 & 7.902 & 7.925 & 7.941 & 7.909 & 7.861 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
10 seconds & base & Qloss & 0.117 & 0.116 & 0.116 & 0.114 & 0.114 & 0.114 & 0.116 & 0.113 & 0.114 & 0.115 & 0.115 & 0.115 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
10 seconds & mini & MASE & 7.860 & 7.888 & 7.937 & 7.899 & 7.875 & 7.913 & 8.051 & 8.007 & 7.918 & 7.927 & 7.936 & 7.963 & 8.248 & 7.924 & 8.019 & 7.929 & 7.963 & 8.043 & 8.124 & 8.021 & 7.924 \\
10 seconds & mini & Qloss & 0.115 & 0.116 & 0.115 & 0.116 & 0.116 & 0.116 & 0.115 & 0.116 & 0.116 & 0.116 & 0.116 & 0.115 & 0.115 & 0.117 & 0.118 & 0.116 & 0.114 & 0.113 & 0.119 & 0.115 & 0.115 \\
10 seconds & small & MASE & 7.920 & 7.896 & 7.916 & 7.865 & 7.928 & 8.023 & 8.015 & 7.966 & 7.867 & 8.006 & 7.933 & 7.898 & 7.973 & 8.000 & 8.044 & 8.035 & 7.981 & 8.148 & 8.030 & 8.141 & 8.054 \\
10 seconds & small & Qloss & 0.116 & 0.115 & 0.115 & 0.115 & 0.115 & 0.114 & 0.117 & 0.114 & 0.115 & 0.118 & 0.116 & 0.114 & 0.117 & 0.115 & 0.115 & 0.116 & 0.118 & 0.116 & 0.113 & 0.113 & 0.116 \\
10 seconds & tiny & MASE & 7.844 & 7.852 & 7.881 & 7.894 & 7.844 & 7.914 & 7.894 & 7.890 & 7.941 & 7.900 & 7.867 & 7.885 & 7.865 & 7.918 & 7.913 & 7.951 & 7.871 & 7.864 & 7.911 & 7.970 & 8.003 \\
10 seconds & tiny & Qloss & 0.115 & 0.114 & 0.114 & 0.114 & 0.115 & 0.115 & 0.116 & 0.115 & 0.115 & 0.115 & 0.114 & 0.113 & 0.115 & 0.114 & 0.113 & 0.114 & 0.114 & 0.115 & 0.115 & 0.116 & 0.114 \\
5 minutes & base & MASE & 2.157 & 2.201 & 2.155 & 2.148 & 2.178 & 2.166 & 2.146 & 2.177 & 2.124 & 2.177 & 2.190 & 2.140 & 1.268 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
5 minutes & base & Qloss & 0.845 & 0.841 & 0.851 & 0.846 & 0.848 & 0.855 & 0.845 & 0.851 & 0.847 & 0.847 & 0.853 & 0.847 & 0.759 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
5 minutes & mini & MASE & 2.147 & 2.133 & 2.135 & 2.163 & 2.141 & 2.147 & 2.187 & 2.184 & 2.149 & 2.125 & 2.158 & 2.168 & 2.218 & 2.254 & 2.160 & 2.243 & 2.232 & 2.215 & 2.173 & 2.124 & 2.175 \\
5 minutes & mini & Qloss & 0.849 & 0.837 & 0.849 & 0.843 & 0.840 & 0.846 & 0.854 & 0.852 & 0.846 & 0.842 & 0.846 & 0.844 & 0.855 & 0.859 & 0.847 & 0.852 & 0.866 & 0.846 & 0.846 & 0.838 & 0.855 \\
5 minutes & small & MASE & 2.161 & 2.153 & 2.153 & 2.136 & 2.136 & 2.208 & 2.176 & 2.170 & 2.141 & 2.179 & 2.202 & 2.217 & 2.280 & 2.190 & 2.257 & 2.188 & 2.171 & 2.171 & 2.175 & 2.129 & 2.186 \\
5 minutes & small & Qloss & 0.850 & 0.848 & 0.844 & 0.839 & 0.844 & 0.850 & 0.846 & 0.850 & 0.842 & 0.854 & 0.853 & 0.856 & 0.877 & 0.852 & 0.856 & 0.856 & 0.844 & 0.848 & 0.851 & 0.839 & 0.847 \\
5 minutes & tiny & MASE & 2.095 & 2.092 & 2.141 & 2.142 & 2.144 & 2.138 & 2.139 & 1.235 & 2.105 & 2.129 & 2.157 & 2.140 & 2.151 & 2.150 & 2.146 & 2.157 & 2.179 & 2.121 & 2.134 & 2.128 & 2.121 \\
5 minutes & tiny & Qloss & 0.837 & 0.842 & 0.843 & 0.848 & 0.848 & 0.849 & 0.841 & 0.800 & 0.838 & 0.844 & 0.850 & 0.852 & 0.846 & 0.849 & 0.840 & 0.841 & 0.848 & 0.843 & 0.844 & 0.840 & 0.840 \\
\bottomrule
\end{tabular}